# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
.idea/go-web.iml
.idea/inspectionProfiles/
.idea/modules.xml
.idea/workspace.xml
bin/
pkg/
Would skip repository src/github.com/astaxie/bee/
src/github.com/astaxie/beego/.github/
src/github.com/astaxie/beego/.gitignore
src/github.com/astaxie/beego/.gosimpleignore
src/github.com/astaxie/beego/.travis.yml
src/github.com/astaxie/beego/CONTRIBUTING.md
src/github.com/astaxie/beego/LICENSE
src/github.com/astaxie/beego/README.md
src/github.com/astaxie/beego/admin.go
src/github.com/astaxie/beego/admin_test.go
src/github.com/astaxie/beego/adminui.go
src/github.com/astaxie/beego/app.go
src/github.com/astaxie/beego/beego.go
src/github.com/astaxie/beego/cache/
src/github.com/astaxie/beego/config.go
src/github.com/astaxie/beego/config/
src/github.com/astaxie/beego/config_test.go
src/github.com/astaxie/beego/context/
src/github.com/astaxie/beego/controller.go
src/github.com/astaxie/beego/controller_test.go
src/github.com/astaxie/beego/doc.go
src/github.com/astaxie/beego/error.go
src/github.com/astaxie/beego/error_test.go
src/github.com/astaxie/beego/filter.go
src/github.com/astaxie/beego/filter_test.go
src/github.com/astaxie/beego/flash.go
src/github.com/astaxie/beego/flash_test.go
src/github.com/astaxie/beego/grace/
src/github.com/astaxie/beego/hooks.go
src/github.com/astaxie/beego/httplib/
src/github.com/astaxie/beego/log.go
src/github.com/astaxie/beego/logs/
src/github.com/astaxie/beego/migration/
src/github.com/astaxie/beego/mime.go
src/github.com/astaxie/beego/namespace.go
src/github.com/astaxie/beego/namespace_test.go
src/github.com/astaxie/beego/orm/
src/github.com/astaxie/beego/parser.go
src/github.com/astaxie/beego/plugins/
src/github.com/astaxie/beego/policy.go
src/github.com/astaxie/beego/router.go
src/github.com/astaxie/beego/router_test.go
src/github.com/astaxie/beego/session/
src/github.com/astaxie/beego/staticfile.go
src/github.com/astaxie/beego/staticfile_test.go
src/github.com/astaxie/beego/swagger/
src/github.com/astaxie/beego/template.go
src/github.com/astaxie/beego/template_test.go
src/github.com/astaxie/beego/templatefunc.go
src/github.com/astaxie/beego/templatefunc_test.go
src/github.com/astaxie/beego/testing/
src/github.com/astaxie/beego/toolbox/
src/github.com/astaxie/beego/tree.go
src/github.com/astaxie/beego/tree_test.go
src/github.com/astaxie/beego/unregroute_test.go
src/github.com/astaxie/beego/utils/caller.go
src/github.com/astaxie/beego/utils/caller_test.go
src/github.com/astaxie/beego/utils/captcha/
src/github.com/astaxie/beego/utils/debug.go
src/github.com/astaxie/beego/utils/debug_test.go
src/github.com/astaxie/beego/utils/file.go
src/github.com/astaxie/beego/utils/file_test.go
src/github.com/astaxie/beego/utils/mail.go
src/github.com/astaxie/beego/utils/mail_test.go
src/github.com/astaxie/beego/utils/pagination/
src/github.com/astaxie/beego/utils/rand.go
src/github.com/astaxie/beego/utils/rand_test.go
src/github.com/astaxie/beego/utils/safemap.go
src/github.com/astaxie/beego/utils/safemap_test.go
src/github.com/astaxie/beego/utils/slice.go
src/github.com/astaxie/beego/utils/slice_test.go
src/github.com/astaxie/beego/utils/utils.go
src/github.com/astaxie/beego/validation/
Would skip repository src/github.com/beego/bee
src/myapp/conf/
src/myapp/controllers/
src/myapp/main.go
src/myapp/models/
src/myapp/myapp
src/myapp/routers/
src/myapp/static/
src/myapp/tests/
src/myapp/views/

.idea
